.login {
  display: block;
  /* text-align: center; */
  margin-top: 20px;
  text-align: end;
}

.loginoculto {
  display: none;
}

input {
  border: 2px solid #171a21;
  border-radius: 12px;
  margin-right: 10px;
  padding-left: 5px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  /* width: 120px; */
}

input::placeholder {
  color: #171a21;
  font-family: "Inter";
}

button {
  /* border: 2px solid #171a21; */
  border-radius: 20px;
  margin-right: 10px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.caixaLogin {
  /* background-color: #f32121; */
  width: 100%;
}

/* .campoEmail,
.campoPassword {
  position: absolute;
} */

.campoEmail .avisoEmail,
.campoPassword .avisoPassword {
  display: block;
  color: #171a21;
  text-align: end;
  justify-content: center;
  padding: 5px 0;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  bottom: 100%;
  /* margin-left: 12px; */
  margin-right: 12px;
  border: none;
  font-size: small;
  font-weight: 400;
}

.logado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logadooculto {
  display: none;
}

.caixaLogado {
  font-size: small;
  font-weight: 600;
  margin-right: 20px;
  color: #171a21;
  width: fit-content;
  text-align: end;
  margin-top: 20px;
  border-radius: 20px;
  padding: 0 10px;
  /* padding: 30px; */
  background-color: #eaebec;
}

.btnDeslogar {
  margin-top: 20px;
  margin-right: 0;
  padding: 0 10px;
}
