/* ---- RESPONSIVO ---- */
@media only screen and (max-width: 1920px) {
  .containerBusca {
    width: 70%;
  }

  .containerBusca img {
    width: 60%;
  }

  .pesquisar input {
    width: 300px;
  }
}
@media only screen and (max-width: 1260px) {
  .container {
    max-width: 978px;
  }

  .esconde {
    display: none;
  }

  .aparece {
    display: inherit;
  }

  .botao {
    flex: 0 0 auto;
    margin-right: 16px;
    margin-left: inherit;
  }
  .descricao,
  .anuncio,
  .final {
    max-width: 978px;
  }
  .containerBusca {
    width: 70%;
  }
  .containerBusca img {
    width: 60%;
  }
}

@media only screen and (max-width: 1005px) {
  header {
    height: 56px;
  }
  .container {
    max-width: 748px;
  }

  .logo {
    margin-right: 5px;
  }

  .item {
    margin-top: -16px;
    font-size: small;
    padding: 5px;
  }

  .opc {
    margin-right: 5px;
  }

  .item.opc {
    margin-top: -16px;
  }

  .esconde {
    display: none;
  }

  .aparece {
    display: inherit;
    margin-left: 10px;
  }

  .botao {
    flex: 0 0 auto;
    margin-right: 0;
  }

  .btn {
    padding: 0.75rem 0.975rem 0.75rem 0.975rem;
  }

  .icones {
    margin-left: 0;
  }

  .icone {
    padding: 0 4px;
  }

  .btn {
    font-size: small;
  }

  .descricao,
  .anuncio,
  .final {
    max-width: 748px;
  }

  .coluna {
    max-width: fit-content;
  }

  .subtitulo {
    font-size: 0.7rem;
  }

  .titulo {
    font-size: 2.75rem;
    line-height: 3rem;
  }

  .texto {
    color: #fff;
    margin: 0 0 10px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 400;
  }

  p {
    margin: 0 0 10px;
  }

  .final h2 {
    font-size: 2rem;
  }

  .containerBusca {
    width: 100%;
  }

  .containerBusca img {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 72px;
  }
  .container {
    justify-content: space-between;
    margin: 0 10px;
  }

  .item {
    margin-top: 0px;
    font-size: small;
  }

  .opc {
    margin-right: 5px;
  }

  .item.opc {
    margin-top: 0px;
  }

  .opc {
    display: none;
  }

  .botao {
    display: none;
  }

  .oculto {
    display: inline;
    color: rgb(117, 117, 117);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }

  .oculto svg {
    width: 24px;
    height: 24px;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  .icone {
    padding: 0 10px;
  }

  .inicio {
    padding-top: 20px;
  }

  .linha .texto {
    width: 105%;
  }

  .avisos {
    padding: 26px 0;
  }

  .descricao,
  .anuncio,
  .final {
    padding-left: 15px;
    padding-right: 15px;
  }

  .texto p {
    padding-right: 20px;
  }

  .botoes .btn {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .containerBusca {
    width: 100%;
  }

  .desc {
    font-size: 0.75rem;
  }

  .final .informa h2 {
    font-size: 2rem;
  }

  .informa h3 {
    font-size: 0.75rem;
  }

  .linha_final .containerBusca h2 {
    font-size: 1.5rem;
  }

  .containerBusca img {
    width: 80%;
  }

  .pesquisar input {
    width: 200px;
  }
}
