<!DOCTYPE html>
<html>
<!-- AXIOS -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div w3-include-html="./template/head.html"></div>

<body>
    <div w3-include-html="./template/nav.html"></div>
    <div class="espc">
        <h1>Projeto 3 Web</h1><br>
        <div class="visualizacoes"></div>
        <div class="num_post"></div>
    </div>
    <script src="/public/js/include.js"></script>
    <script>includeHTML();</script>
    <script src="/public/js/app.js"></script>
</body>

</html>