<div class="nav">
  <header>
    <div class="container">
      <div class="item logo">
        <img src="../public/img/logo.svg" width="89" height="32" />
        <div class="item oculto">
          <img src="../public/img/menu.svg" width="24" height="24" />
        </div>
      </div>
      <div class="item opc">Products</div>
      <div class="item opc">Solutions</div>
      <div class="item opc">Learning</div>
      <div class="item opc esconde">Support & Services</div>
      <div class="item opc esconde">Community</div>
      <div class="item opc esconde">Developer tools</div>
      <div class="item opc aparece">More</div>
      <div class="item botao">
        <div class="btn">Get started</div>
      </div>
      <div class="item icones">
        <div class="icone">
          <img src="../public/img/lupa.svg" width="24" height="24" />
        </div>
        <div class="icone">
          <img src="../public/img/quadrado.svg" width="24" height="24" />
        </div>
        <div class="icone">
          <img src="../public/img/perfil.svg" width="24" height="24" />
        </div>
      </div>
    </div>
  </header>
</div>